/* mini_game.scss */
#grid_container {
  @include grid_common;
  grid-template:
  "main_menu" auto
  "typing_game" auto
  "three_choice_quiz" auto
  "slot_game" auto
  "tauch_number_game" auto
  / 100%;
  -webkit-text-size-adjust: 100%;
  > #cell_0 {
    grid-area: main_menu;
  }
  > #cell_1 {
    grid-area: typing_game;
  }
  > #cell_2 {
    grid-area: three_choice_quiz;
  }
  > #cell_3 {
    grid-area: slot_game;
  }
  > #cell_4 {
    grid-area: tauch_number_game;
  }
}
.description {
  width: 310px;
  margin: 40px auto;
}
@include tablet {
  .description {
    width: 560px;
  }
}
/* typing_game */
.content {
  padding-top: 20px;
  width: 300px;
  height: 180px;
  margin: 40px auto;
  background: #fff;
}
#target {
  margin: 20px 0 0;
  width: 100%;
  height: 45px;
  border: none;
  box-sizing: border-box;
  resize: none;
  overflow: hidden;
  font-size: 35px;
  text-align: center;
  caret-color: white;
  user-select: none;
  &:focus {
    outline: none;
  }
}
.info {
  color: #ccc;
}
.typing {
  letter-spacing: 5px;
}
/* quiz */
.container {
  width: 300px;
  padding: 10px;
  margin: 40px auto;
  background: rgb(50, 169, 175);
  border-radius: 5px;
  position: relative;
}
#result {
  width: 260px;
  height: 180px;
  padding: 10%;
  background: #f8f9fa;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  color: #000;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  transition: 0.8s;
  > p {
    font-size: 30px;
    font-weight:bold;
  }
  &.hidden {
    transform: translateY(-20000px);
  }
}
#question {
  font-weight: bold;
  font-size: 20px;
  margin: 0 auto 10px;
  text-align: left;
  padding-left: 15px;
  color: #000;
}
#choices {
  list-style: none;
  padding-left: 0;
  margin: 0;
  > li {
    background: #fff;
    margin-bottom: 7px;
    color: #000;
    padding: 3px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: left;
    cursor: pointer;
    &:hover {
      background: #f8f8f8;
    }
  }
}
#btn, #result a {
    background: #0e1290;
    color: #fff;
    width: 50%;;
    margin: 10px auto 4px;
    border: 1px solid #0e1290;
    border-radius: 5px;
    box-shadow: 0 4px #161a5b;
    cursor: pointer;
}
#result {
  a {
    display: block;
  }
}
#btn.disabled {
  background: #ccc;
  border: 1px solid #ccc;
  box-shadow: 0 4px #bbb;
  opacity: 0.8;
  color: #aaa;
}
#choices {
  > li.correct {
    background: #9fbbee;
    border-color: #084e99;
    color: #1f16a6;
    font-weight: bold;
    &::after {
      content: ' ... correct!';
    }
  }
  > li.wrong {
    background: #ffd4dc;
    border-color: #df1329;
    color: #d31337;
    font-weight: bold;
    &::after {
      content: ' ... wrong!';
    }
  }
}

/* slot_game */
main {
  width: 270px;
  height: 145px;
  margin: 40px auto 10px;
  padding: 10px;
  border: 5px solid #fff;
  background: orange;
  border-radius: 12px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.panel {
  img {
    width: 85px;
    height: 100px;
  }
}
.stop {
  width: 85px;
  height: 30px;
  background: tomato;
  border-radius: 50%;
  color: #fff;
  box-shadow: 0 4px red;
  user-select: none;
  cursor: pointer;
}
#spin {
  width: 280px;
  height: 40px;
  line-height: 40px;
  margin: 0 auto;
  background: #39b9ed;
  border-radius: 5px;
  box-shadow: 0 5px #247393;
  color: #fff;
  font-size: 30px;
  user-select: none;
  cursor: pointer;
}
.unmatched, .inactive {
  opacity: 0.5;
}

/* tauch_number_game */
#container {
  width: 300px;
  height: 300px;
  background: #fff;
  margin: 0 auto;
  border-radius: 5px;
}
#board {
  list-style: none;
  margin: 0;
  padding: 4px 4px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  > li {
    width: 70px;
    height: 65px;
    line-height: 65px;
    margin: 0 4px 9px 0;
    background: #bb87eb;
    box-shadow: 0px 5px #8a63ad;
    border-radius: 5px;
    font-size: 30px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    user-select: none;
    &:nth-child(4n) {
      margin-right: 0px;
    }
    &.pressed {
      margin-top: 5px;
      margin-bottom: 4px;
      background: #dbd9d7;
      box-shadow: none;
    }
    &.cover {
      background: #dbd9d7;
      color: #dbd9d7;
      box-shadow: 0 4px #dbd9d7;
    }
  }
}
#button {
  background: #264f8c;
  color: #fff;
  width: 280px;
  height: 40px;
  line-height: 40px;
  margin: 10px auto 0;
  border: 1px solid #264f8c;
  border-radius: 5px;
  box-shadow: 0 4px #1a3762;
  cursor: pointer;
  user-select: none;
  &:active {
    margin: 14px auto 0;
    box-shadow: none;
  }
}
#timer2 {
  width: 300px;
  height: 40px;
  line-height: 40px;
  font-size: 35px;
  text-align: right;
  padding-right: 20px;
  margin: 0 auto 3px;
}
